<div class="d-flex flex-column min-vh-100">
<div class="flex-grow-1">
<h1 class="text-center mt-5 text-gray">Budget App</h1>
</div>
<div class="text-center mb-5">
  <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary', style:'width: 100%; display:block;', role: 'button' %>
  <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-light', style:'width: 100%; display:block;', role: 'button'  %>
</div>
</div>