<div id="<%= dom_id category_transaction %>">
  <p>
    <strong>Category:</strong>
    <%= category_transaction.category_id %>
  </p>

  <p>
    <strong>Money transaction:</strong>
    <%= category_transaction.money_transaction_id %>
  </p>

</div>
