<h1>Editing category transaction</h1>

<%= render "form", category_transaction: @category_transaction %>

<br>

<div>
  <%= link_to "Show this category transaction", @category_transaction %> |
  <%= link_to "Back to category transactions", category_transactions_path %>
</div>
