<p style="color: green"><%= notice %></p>

<h1>Category transactions</h1>

<div id="category_transactions">
  <% @category_transactions.each do |category_transaction| %>
    <%= render category_transaction %>
    <p>
      <%= link_to "Show this category transaction", category_transaction %>
    </p>
  <% end %>
</div>

<%= link_to "New category transaction", new_category_transaction_path %>
